@import "tailwindcss";

:root {
  --color-Charcoal:#2C2C2C;
  --color-primary: #F4CE14;
  --color-secondary: #5c8b7b;
  --color-tertiary: #EDEFEE;
  --color-dark: #333333;
  --color-accent: #EE9972;
}

@theme {
  --color-Charcoal: var(--color-Charcoal);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-tertiary: var(--color-tertiary);
  --color-dark: var(--color-dark);
  --color-accent: var(--color-accent);
}